* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(#ffff, #3a8fdf);
    
  }
 .support-options h4{
  font-family: Arial, sans-serif;
 }
  .container {
    width: 80%;
    margin: auto;
  }
  
  header {
    background-color: #ffff; /* Updated to match the dark blue color */
    padding: 10px 0;
  }
  
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    z-index: 1;
    position: fixed;
    box-shadow: #2c03e2cf;
}

#nav #particles-js {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }


.nav img {
    width: 55px;
    height: 55px;
}

.nav a {
  font-family: Arial, sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    padding: 5px 20px;
    margin: 0px 10px;
    letter-spacing: 1px;
    font-weight: 600;
}

.nav a:hover {
    color: #dea402;
    transition: 0.3s ease;
}

#btn-nav {
    width: 25px;
    height: 25px;
    display: none;
}

.btn-menu {
    width: 80%;
    text-align: right;
}

#btn-menu {
    width: 25px;
    height: 25px;
    text-align: right;
    cursor: pointer;
}

.nav-menu {
    width: 80vh;
    height: 100vh;
    position: fixed;
    z-index: 10;
    background-color: #2c03e2cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transform: translateX(-1000px);
    transition: 1s ease-in;
}

.nav-menu.active {
    transform: translateX(0px);
    transition: 1s ease-in;
}

.nav-menu a {
    font-size: 1rem;
    color: #000;
}

.nav-menu a:hover {
    color: #dea402;
    transition: 0.3s ease;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 0px 40px;
}

  
  .hero {
    background: url('assets/img/medical-devices-header-1600x400.png') no-repeat center center/cover;
    color: rgb(12, 12, 12);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3em;
  }
  
  .hero p {
    font-size: 1.2em;
  }
  
  .support-options {
    padding: 50px 0;
  }
  
  .support-options h2 {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
  }
  
  .option {
    width: 30%;
    text-align: center;
  }
  
  .option img {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .option h3 {
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  
  .footer {
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.412);
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.footer-1 .footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.footer-logo h1 {
    font-size: 20px;
    letter-spacing: 1px;
}

.footer-1 p {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
    color: #000;
}

.sosial-media img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.footer-1,
.footer-2,
.footer-3,
.footer-4 {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.footer-2 h1,
.footer-3 h1,
.footer-4 h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-2 a,
.footer-4 a {
    color: #000;
    margin-bottom: 5px;
}

.footer-4 a:hover {
    color: #ffce09;
}

.footer-3 p {
    font-size: 15px;
    color: #000;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

footer {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.625);
}

footer h1 {
    text-align: center;
    line-height: 50px;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

footer h1 a {
    color: #000000;
    display: inline-block;
}

footer h1 a:hover {
    color: #ffce09;
}
@media(max-width:1400px){
  .support-options p{
    display: none;
  }
}
@media(max-width:800px){
  .support-options p , h4{
    display: none;
  }
}
@media(max-width:700px){
  .nav a{
    display: none;
  }
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(245, 245, 245, 0.37);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar a{
 
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  padding: 5px 20px;
  margin: 0px 10px;
  letter-spacing: 1px;
  font-weight: 600;
}
@media(max-width:700px){
  .img1 {
    width: 45px;
    height: 45px;
    margin-left:470px;
}
}
@media(max-width:545px){
  .img1 {
    width: 45px;
    height: 45px;
    margin-left:400px;
}
}
@media(max-width:476px){
  .img1 {
    width: 45px;
    height: 45px;
    margin-left:350px;
}
}
@media(max-width:416px){
  .img1 {
    width: 45px;
    height: 45px;
    margin-left:300px;
}
}